nav.nav_containner {
  height: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  background: #2d323d;
  * {
    margin: 0;
    padding: 0;
  }
  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      padding: 0 1em;
      a:hover {
        border-bottom: 2px;
      }
    }
  }
}
