@mixin breakpoints($prefix) {
  @if $prefix == sm {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $prefix == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $prefix == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $prefix == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else {
    @warn "Breakpoint is invalid";
  }
}
