/* --- Colors --- */

// Blue gray
$color-bluegray-50: #f8fafc;
$color-bluegray-100: #f1f5f9;
$color-bluegray-200: #e2e8f0;
$color-bluegray-300: #cbd5e1;
$color-bluegray-400: #94a3b8;
$color-bluegray-500: #64748b;
$color-bluegray-600: #475569;
$color-bluegray-700: #334155;
$color-bluegray-800: #1e293b;
$color-bluegray-900: #0f172a;

// Cool gray
$color-coolgray-50: #f9fafb;
$color-coolgray-100: #f3f4f6;
$color-coolgray-200: #e5e7eb;
$color-coolgray-300: #d1d5db;
$color-coolgray-400: #9ca3af;
$color-coolgray-500: #6b7280;
$color-coolgray-600: #4b5563;
$color-coolgray-700: #374151;
$color-coolgray-800: #1f2937;
$color-coolgray-900: #111827;

// Blue
$color-blue-50: #eff6ff;
$color-blue-100: #dbeafe;
$color-blue-200: #bfdbfe;
$color-blue-300: #93c5fd;
$color-blue-400: #60a5fa;
$color-blue-500: #3b82f6;
$color-blue-600: #2563eb;
$color-blue-700: #1d4ed8;
$color-blue-800: #1e40af;
$color-blue-900: #1e3a8a;
