$color-bluegray-50: #F8FAFC;
$color-bluegray-100: #F1F5F9;
$color-bluegray-200: #E2E8F0;
$color-bluegray-300: #CBD5E1;
$color-bluegray-400: #CBD5E1;
$color-bluegray-500: #64748B;
$color-bluegray-600: #475569;
$color-bluegray-700: #334155;
$color-bluegray-800: #1E293B;
$color-bluegray-900: #0F172A;

$color-coolgray-50: #F9FAFB;
$color-coolgray-100: #F3F4F6;
$color-coolgray-200: #E5E7EB;
$color-coolgray-300: #D1D5DB;
$color-coolgray-400: #9CA3AF;
$color-coolgray-500: #6B7280;
$color-coolgray-600: #4B5563;
$color-coolgray-700: #374151;
$color-coolgray-800: #1F2937;
$color-coolgray-900: #111827;

$color-red-50: #FEF2F2;
$color-red-100: #FEE2E2;
$color-red-200: #FECACA;
$color-red-300: #FCA5A5;
$color-red-400: #F87171;
$color-red-500: #EF4444;
$color-red-600: #DC2626;
$color-red-700: #B91C1C;
$color-red-800: #991B1B;
$color-red-900: #7F1D1D;

$color-orange-50: #FFF7ED;
$color-orange-100: #FFEDD5;
$color-orange-200: #FED7AA;
$color-orange-300: #FDBA74;
$color-orange-400: #FB923C;
$color-orange-500: #F97316;
$color-orange-600: #EA580C;
$color-orange-700: #C2410C;
$color-orange-800: #9A3412;
$color-orange-900: #7C2D12;

$color-yellow-50: #FEFCE8;
$color-yellow-100: #FEF9C3;
$color-yellow-200: #FEF08A;
$color-yellow-300: #FDE047;
$color-yellow-400: #FACC15;
$color-yellow-500: #EAB308;
$color-yellow-600: #CA8A04;
$color-yellow-700: #A16207;
$color-yellow-800: #854D0E;
$color-yellow-900: #713F12;

$color-green-50: #F0FDF4;
$color-green-100: #DCFCE7;
$color-green-200: #BBF7D0;
$color-green-300: #86EFAC;
$color-green-400: #4ADE80;
$color-green-500: #22C55E;
$color-green-600: #16A34A;
$color-green-700: #15803D;
$color-green-800: #166534;
$color-green-900: #14532D;

$color-blue-50: #EFF6FF;
$color-blue-100: #DBEAFE;
$color-blue-200: #BFDBFE;
$color-blue-300: #93C5FD;
$color-blue-400: #60A5FA;
$color-blue-500: #3B82F6;
$color-blue-600: #2563EB;
$color-blue-700: #1D4ED8;
$color-blue-800: #1E40AF;
$color-blue-900: #1E3A8A;
