$color-bluegray-50: #f8fafc;
$color-bluegray-100: #f1f5f9;
$color-bluegray-200: #e2e8f0;
$color-bluegray-300: #cbd5e1;
$color-bluegray-400: #cbd5e1;
$color-bluegray-500: #64748b;
$color-bluegray-600: #475569;
$color-bluegray-700: #334155;
$color-bluegray-800: #1e293b;
$color-bluegray-900: #0f172a;

$color-coolgray-50: #f9fafb;
$color-coolgray-100: #f3f4f6;
$color-coolgray-200: #e5e7eb;
$color-coolgray-300: #d1d5db;
$color-coolgray-400: #9ca3af;
$color-coolgray-500: #6b7280;
$color-coolgray-600: #4b5563;
$color-coolgray-700: #374151;
$color-coolgray-800: #1f2937;
$color-coolgray-900: #111827;

$color-red-50: #fef2f2;
$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-600: #dc2626;
$color-red-700: #b91c1c;
$color-red-800: #991b1b;
$color-red-900: #7f1d1d;

$color-orange-50: #fff7ed;
$color-orange-100: #ffedd5;
$color-orange-200: #fed7aa;
$color-orange-300: #fdba74;
$color-orange-400: #fb923c;
$color-orange-500: #f97316;
$color-orange-600: #ea580c;
$color-orange-700: #c2410c;
$color-orange-800: #9a3412;
$color-orange-900: #7c2d12;

$color-yellow-50: #fefce8;
$color-yellow-100: #fef9c3;
$color-yellow-200: #fef08a;
$color-yellow-300: #fde047;
$color-yellow-400: #facc15;
$color-yellow-500: #eab308;
$color-yellow-600: #ca8a04;
$color-yellow-700: #a16207;
$color-yellow-800: #854d0e;
$color-yellow-900: #713f12;

$color-green-50: #f0fdf4;
$color-green-100: #dcfce7;
$color-green-200: #bbf7d0;
$color-green-300: #86efac;
$color-green-400: #4ade80;
$color-green-500: #22c55e;
$color-green-600: #16a34a;
$color-green-700: #15803d;
$color-green-800: #166534;
$color-green-900: #14532d;

$color-blue-50: #eff6ff;
$color-blue-100: #dbeafe;
$color-blue-200: #bfdbfe;
$color-blue-300: #93c5fd;
$color-blue-400: #60a5fa;
$color-blue-500: #3b82f6;
$color-blue-600: #2563eb;
$color-blue-700: #1d4ed8;
$color-blue-800: #1e40af;
$color-blue-900: #1e3a8a;
