:root {
	--font-family: "JetBrains Mono", monospace;
	--font-size: 18px;
	--bg-zero: #1a1b26;
	--bg-one: #232433;
	--bg-two: #2a2b3d;
	--bg-three: #32344a;
	--bg-four: #3b3d57;
	--color-black: #06080a;
	--color-grey: #444B6A;
	--color-white: #a9b1d6;
	--color-red: #F7768E;
	--color-orange: #FF9E64;
	--color-yellow: #E0AF68;
	--color--green: #9ECE6A;
	--color-blue: #7AA2F7;
	--color-purple: #ad8ee6;
}
