@import "./variables.scss";

:root {
  scrollbar-color: $black-three $black-one !important;
  scrollbar-width: auto !important;
}

::-webkit-scrollbar {
  width: auto !important;
  background: $black-one !important;
}

::-webkit-scrollbar-thumb {
  background-color: $black-three !important;
}
