header.header {
	display: flex;
	position:sticky;
	padding: .6rem 0;
	top: 0;
	justify-content: center;
	box-shadow: 0 5px 5px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
	user-select: none;
	background-color: $color-bluegray-100;

	@media (min-width: $size-sm) {
		padding: .7rem 0;
	}

	@media (min-width: $size-md) {
		padding: .8rem 0;
	}

	@media (min-width: $size-lg) {
		padding: .9rem 0;
	}

	@media (prefers-color-scheme: dark) {
		background-color: $color-bluegray-800;
	}

	nav.header-navigation {
		font-weight: 500;
		ul.nav-items {
			display: flex;
			margin: 0;
			padding: 0;
			li.nav-item {
				list-style: none;
				padding: 0 10px;
				a {
					font-size: 1.1em;
					color: $color-blue-500;
					text-decoration: none;
					&:hover {
						color: $color-blue-400;	
					}
				}
			}
		}
	}
}
