@import "./variables.scss";
@import "./fonts.scss";
@import "https://necolas.github.io/normalize.css/latest/normalize.css";

:root {
  scrollbar-color: var(--bg-one) var(--bg-two) !important;
  scrollbar-width: auto !important;
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 100%;
  font-display: auto;
  background-color: var(--bg-three);
  color: var(--font-color);
}

// background's class
.bg-zero {
  background-color: var(--bg-zero);
}

.bg-one {
  background-color: var(--bg-one);
}

.bg-two {
  background-color: var(--bg-two);
}

.bg-three {
  background-color: var(--bg-three);
}

.bg-four {
  background-color: var(--bg-four);
}

.no-select {
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
